<nav class="navbar">
  <div class="navbar__container container">
    <h1 class="navbar__container__title"> Campaigns Manager </h1>
    <ul class="navbar__container__links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
    </ul>
  </div>
</nav>
