@import '../../../styles/config';

.navbar {
  padding: 25px 0;
  background-color: $color-primary;
  color: $color-light;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      margin: 0;
    }

    &__links {
      display: flex;
  
      li {
        padding: 0 1rem;
      }
  
      a {
        text-decoration: none;
        color: $color-light;
      }
      
    }
  }

}
