.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;

  &__content {
    background-color: $color_light;
    padding: 20px 40px;
    border-radius: 10px;

    &__header {
      margin-bottom: 1rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    
    &__item {
      margin: 7px 0;
      padding: 10px;
      font-size: 14px;
    }

    &__item__radio {
      margin: 5px 0;
      display: flex;
      flex-direction: column;

      input {
        margin-right: 5px;
      }
    }

    &__item__select {
      display: flex;
      margin: 5px 0;

      select {
        flex: 2;
        margin-right: 10px;
        padding: 10px;
      }

      button {
        margin: 0 0 0 auto;
      }
    }

    &__keywords {
      display: flex;
      flex-wrap: wrap;
      margin: 5px 0;
      max-width: 250px;

      span {
        margin: 0 2px 2px 0;
      }

      &__delete {
        padding-left: 5px;
        cursor: pointer;
      }

      &__delete:hover {
        color: darken($color-light, 20);
      }

    }

    &__submit{
      margin: 5px 0 0 auto;
      padding: 10px 20px;
      background-color: $color-dark;
      color: $color-light;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

