.container {
  max-width: 800px;
  padding: 0 1rem;
  margin: 0 auto;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.badge-primary {
  border-radius: 10px;
  padding: 5px 10px;
  background-color: $color-primary;
  color: $color-light
}

@mixin btn-round() {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
}

@mixin bg-dark-text-light() {
  background-color: $color-dark;
  color: $color-light;
}

.btn-round-primary {
  @include btn-round();
  background-color: $color-primary;
  color: $color-light;

}

.btn-edit {
  @include btn-round();
  @include bg-dark-text-light();
}

.btn-delete {
  @include btn-round();
  background-color: $color-danger;
  color: $color-light;
}
