@import 'config';
@import 'utils';
@import 'modal';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $color-light;
}

ul {
  list-style-type: none;
}

h1, h2 {
  margin-bottom: 5px;
}

p {
  margin-bottom: 2px;
}

