<div id="editModal" class="modal" *ngIf="this.visibility;" (mousedown)="closeModal($event)">
  <div class="modal__content">
    <div class="modal__content__header">
      <h1> Edit Campaign </h1>
    </div>
    <div class="modal__content__body">
      <form class="modal__form" (ngSubmit)="onSubmit()">
        <input type="text" name="name" [(ngModel)]="this.campaign.name" class="modal__form__item" placeholder="Name...">
        <div class="modal__form__item__select">
          <select type="text" name="keywords" (change)="changeKeyword($event)">
            <option selected="true" value="" disabled>Choose keyword</option>
            <option *ngFor="let keyword of getKeywordsList()" [value]="keyword">{{ keyword }}</option>
          </select>
          <div (click)="addKeyword()" class="btn-round-primary">+</div>
        </div>
        <div class="modal__form__keywords">
          <span class="badge-primary" *ngFor="let keyword of this.campaign.keywords">
            {{ keyword }} <span class="modal__form__keywords__delete" (click)="deleteKeyword(keyword)">x</span>
          </span>
        </div>
        <input type="number" name="bidAmount" [(ngModel)]="this.campaign.bidAmount" class="modal__form__item" min="100" placeholder="Bid amount">
        <input type="number" name="fund" [(ngModel)]="this.campaign.fund" class="modal__form__item" min="0" placeholder="Campaign fund">
        <div class="modal__form__item__radio">
          <div class="modal__form__item__radio__item">
            <input type="radio" name="statusOn" id="statusOn" [(ngModel)]="this.campaign.status" [value]="true" class="modal__form__item">
            <label for="statusOn">On</label>
          </div>
          <div class="modal__form__item__radio__item">
            <input type="radio" name="statusOff" id="statusOff" [(ngModel)]="this.campaign.status" [value]="false" class="modal__form__item">
            <label for="statusOff">Off</label>
          </div>
        </div>
        <select type="text" name="town" (change)="changeTown($event)" class="modal__form__item">
          <option selected="true" value="" disabled>Choose your city</option>
          <option *ngFor="let town of getTownsList()" [value]="town">{{ town }}</option>
        </select>
        <input type="number" name="radius" [(ngModel)]="this.campaign.radius" class="modal__form__item" placeholder="Radius...">
        <button type="submit" value="Submit" class="modal__form__submit">Submit</button>
      </form>
    </div>
  </div>
</div>

