<div class="container">
  <div class="campaigns">
    <app-campaign-item
      *ngFor="let campaign of campaigns"
      [campaign]="campaign"
      (deleteCampaign)="deleteCampaign($event)"
    >
    </app-campaign-item>
  </div>
</div>
