@import '../../../styles/config';

.campaign-item {
  margin: 1rem 0;
  padding: 20px 30px;
  border: 1px dashed $color-secondary;
  border-radius: 5px;

  &__header {
    margin-bottom: 1rem;
  }

  &__details {
    
    &__keywords {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 100%;
      margin-bottom: 1rem;

      span {
        margin-right: 0.5rem;
        margin-bottom: 5px;
      }
    }

    &__info {
      li {
        margin: 0.5rem 0;
      }
    }
  }

  &__buttons {
    margin-top: 1rem;
    display: flex;
  }

}

