<article>
  <div class="campaign-item">
    <div class="campaign-item__header">
      <h1> {{ campaign.name }} </h1>
    </div>
    <div class="campaign-item__details">
      <div class="campaign-item__details__keywords">
        <span class="badge-primary" *ngFor="let keyword of campaign.keywords">
          {{ keyword }}
        </span>
      </div>
      <ul class="campaign-item__details__info">
        <li> Bid amount: {{ campaign.bidAmount }}</li>
        <li> Campaign fund: {{ campaign.fund }}</li>
        <li *ngIf="campaign.status; then statusOn else statusOff"></li>
          <ng-template #statusOn> Status: on </ng-template>
          <ng-template #statusOff> Status: off </ng-template>
        <li> Town: {{ campaign.town }}</li>
        <li> Radius: {{ campaign.radius }}</li>
      </ul>
    </div>
    <div class="campaign-item__buttons">
      <div class="btn-edit" (click)="onEdit(campaign)">
        <i class="fas fa-pen"></i>
      </div>
      <div class="btn-delete" (click)="onDelete(campaign)">
        <i class="fas fa-trash"></i>
      </div>
    </div>
  </div>
</article>

